@import "~SCSS_PATH/modules";

.mainContent {
    padding-left: rem(20px);
    height: 98%;
    .panel {
        background-color: $white;
        height: inherit;
        box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.4)
    }
}
