$rem-baseline: 16px !default;

@mixin rem-baseline($zoom: 100%) {
    font-size: $zoom / 16px * $rem-baseline;
}

html, body, #root {
    min-height: 100vh !important;
    height: 100vh;
}

html{
    @include rem-baseline(100%);
    //font-size: 62.5%;
}

body {
    margin: 0;
    font-family:  "PingFang SC Regular", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    background-color: $body-bg;
    color: $font-color;
}

h1,h2,h3,h4 {
    font-color: $font-color;
    font-weight: 700;
    font-family: 'PingFang SC Bold';
}

a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        color: $accentColor
    }
}

table {
    th {
        background-color: $primary-color !important;
        color: $white !important;
    }
    > tbody > tr:nth-child(even) {
        background-color: #EDF3E9 !important;
    }
}

button {
    & + & {
        margin-left: rem(8px) !important;
    }
}

.dialogContainer {
    padding: rem(10px 20px);

    @include e(inputRow) {
        & + & {
            margin-top: rem(20px);
        }
        align-items: baseline;
        justify-content: center;
    }

    @include m(error) {
        text-align: center;
        padding: rem(5px 0px);
        color: $errorColor;
    }
}

.highlightColor {
    color: $highlightColor !important;
}
