@import "../variables/color";
@import "../fonts/fonts";

$rem-baseline: 16px !default;

@mixin rem-baseline($zoom: 100%) {
    font-size: $zoom / 16px * $rem-baseline;
}

html{
    height: 100%;
    @include rem-baseline(100%);
    //font-size: 62.5%;
}

body {
    margin: 0;
    height: 100%;
    font-family:  "PingFang SC Regular", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    background-color: $body-bg;
    color: $font-color;
}

h1,h2,h3,h4 {
    font-weight: 700;
    font-family: 'PingFang SC Bold';
}

a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        color: $accentColor
    }
}
