@import "~SCSS_PATH/modules";

.error{
    color: $errorColor;
}

.loadingColor {
    color: $primary-color;
}

.error-border{
    & :global(.ant-input) {
        border-color: $errorColor;
    }
}

.input-wrapper {
    text-align: left;

    & :global(.ant-input-prefix) {
        color: $input-prefix-icon-color;
    }
}
