@import "~SCSS_PATH/modules";

.headerContainer{
    background-color: $white;
    height: rem(50px);
    border-bottom: 1px solid $border-color;
    @include e(logo) {
        background-image: url('../../logo.png');
        background-size: 40% 40%;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 2px solid $primary-color;
    }
}

.user-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    border-bottom: 2px solid $primary-color;
    //box-shadow: 0 5px 5px -3px rgba(0,0,0,0.4);
}
