@import "~SCSS_PATH/modules";

.headerContainer{
    background-color: $white;
    height: rem(50px);
    border-bottom: 1px solid $border-color;
    @include e(logo) {
        border-right: 1px solid #ccc
    }
}

.nav-header {
    display: flex;
    align-items: center;
    padding-left: 0;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.4);
    @include e(breadcrumb) {
        color: $font-color;
        align-items: center;
        font-size: rem(18px);
        font-family: PingFang SC Bold;

        &>span:last-child {
            :global(.ant-breadcrumb-separator) {
                display: none;
            }
            .breadcrumb__link a{
                color: $accentColor !important;
            }
        }
    }
    .breadcrumb {
        @include e(link) {
            padding: rem(0px 20px);
        }
    }
}
