:global .task-lessons-dialog-row {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    td, th {
        padding: 4px 0 !important;
    }
}
:global .task-lessons-dialog-action {
    text-align: right;
}
