//color
$font-color: #515151;
$primary-color: #5DA424;
$body-bg: #eee;
$border-color: #ccc;
$border-active-color: #73d13d;
$accentColor: #006A36;
$errorColor: #f5222d;
$lighten-accent-color: lighten($primary-color, 50%);
$darken-accent-color: darken($primary-color, 10%);
$shade-accentColor: darken($primary-color,20%);
$placeholder-color: rgba(0,0,0,.25);
$input-prefix-icon-color: rgba(0,0,0,.25);
$white: #fff;

//sidebar
$sideBar-bg: #fff;
$sideBar-font-color: $primary-color;
$sideBar-active-bg: #E9F1E3;
$sideBar-active-border-color: $primary-color;
$sideBar-border: $primary-color;

//login
$login-bg: #dae5d4;

//breadcrumb

