//常规
@font-face {
    font-family: 'PingFang SC Regular';
    src: url('PingFangRegular.ttf')
}
//极细
@font-face {
    font-family: 'PingFang SC ExtraLight';
    src: url('PingFangExtraLight.ttf')
}
//较细
@font-face {
    font-family: 'PingFang SC Light';
    src: url('PingFangLight.ttf')
}
//中等
@font-face {
    font-family: 'PingFang SC Medium';
    src: url('PingFangMedium.ttf')
}
//加粗
@font-face {
    font-family: 'PingFang SC Bold';
    src: url('PingFangBold.ttf')
}
//特粗
@font-face {
    font-family: 'PingFang SC Heavy';
    src: url('PingFangHeavy.ttf')
}
